<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="parkingType" name="parkingType" value="2" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">停车场</label>
								<div class="col-sm-8">
									<label th:each="parking:${parkingList}" class="radio-inline">
										<input id="parkingId" name="parkingId" type="radio" th:value="${parking.id}"
											   th:text="${parking.name}" checked>
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">车牌号：</label>
								<div class="col-sm-8">
									<label><input id="number" name="number" class="form-control" type="text"></label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">替换车牌1：</label>
								<div class="col-sm-8">
									<input id="numberOne" name="numberOne" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">替换车牌2：</label>
								<div class="col-sm-8">
									<input id="numberTow" name="numberTow" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">车主姓名：</label>
								<div class="col-sm-8">
									<input id="name" name="name" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系方式：</label>
								<div class="col-sm-8">
									<input id="phone" name="phone" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">公司名称：</label>
								<div class="col-sm-8">
									<input id="corporateName" name="corporateName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">状态:</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" name="status" value="1" checked /> 正常 </label>
									<label class="radio-inline"> <input type="radio" name="status" value="0" /> 禁用 </label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">内场权限:</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" name="infieldPermission" value="1" checked /> 有 </label>
									<label class="radio-inline"> <input type="radio" name="infieldPermission" value="0" /> 无 </label>
								</div>
							</div>
								<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/sys/car/vip/add.js">
	</script>
	<script src="/js/appjs/common/laydate/laydate.js"></script>
	<script>
		lay('#version').html('-v'+ laydate.v);

		//执行一个laydate实例
		laydate.render({
			elem: '#beginDate'
			,theme: 'molv'
		});
		laydate.render({
			elem: '#endDate'
			,theme: 'molv'
		});
	</script>
</body>
</html>
