<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    .input-right {position: absolute;right: 200px;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar" style="position: relative;">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="sys:car:add" type="button" class="btn  btn-primary"
                                onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="sys:car:batchRemove" type="button" class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                        <button type="button" class="btn  btn-danger" id="J_download">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>下载导入模板
                        </button>
                        <button type="button" class="btn  btn-danger" id="J_upload">
                            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>导入
                        </button>
                    </div>
                    <div class="input-right">
                        <div class="columns pull-right nopadding">
                            <button class="btn btn-success" onclick="reLoad()">查询</button>
                        </div>
                        <div class="columns pull-right nopadding">
                            <input id="finalDate" type="text" class="form-control" placeholder="终止日期">
                        </div>
                        <div class="columns pull-right nopadding">
                            <input id="startDate" type="text" class="form-control" placeholder="起始日期">
                        </div>
                        <div class="columns pull-right nopadding">
                            <input id="carNumber" type="text" class="form-control" placeholder="车牌号">
                        </div>
                        <div class="pull-right search nopadding">
                            <select id="parkingId" name="parkingId" class="form-control">
                                <option value="">选择停车场</option>
                                <option th:each="parking:${parkingList}" th:value="${parking.id}"
                                        th:text="${parking.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
            var s_resetPwd_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="sys:car:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="sys:car:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
    <div shiro:hasPermission="sys:car:resetPwd">
        <script type="text/javascript">
            var s_resetPwd_h = '';
        </script>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/sys/car/long/car.js"></script>
<script src="/js/appjs/common/laydate/laydate.js"></script>
<script>
    //执行一个laydate实例
    laydate.render({elem: '#startDate',theme: 'molv'});
    laydate.render({elem: '#finalDate',theme: 'molv'});
</script>
</body>
</html>