<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="common.css">
</head>
<body>
<div>
	<h3 class="h3">智慧停车 即可开启</h3>
	<div class="con">
		<h4>请输入车牌号</h4>
		<div>
			<input type="text" name="" id="input">
			<input type="text" name="">
			<input type="text" name="">
			<input type="text" name="">
			<input type="text" name="">
		</div>
		<a href="#" class="btn">查询缴费</a>
	</div>

</div>
</body>
<script type="text/javascript" src="flexible.js"></script>
<script type="text/javascript" src="jquery-1.11.2.min.js"></script>
<script>
	$(function(){
		$("#input").focus();
	});
</script>
</html>