<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="common.css">
</head>
<body>
<div>
	<div class="head">
		<h3>支付详情</h3>
		<p>PAYMENT DETAILS</p>
	</div>
	
	<div class="detail">
		<p>金额<span style="font-weight: bold;"><em>￥</em>1314.50</span></p>
		<p>入场时间<span>2019-10-14 12:20:30</span></p>
		<p>出场时间<span>2019-10-14 12:40:30</span></p>
		<p>停车时长<span>20分钟</span></p>
	</div>
	<a href="#" class="btn">支付</a>
</div>
</body>
<script type="text/javascript" src="flexible.js"></script>
<script type="text/javascript" src="jquery-1.11.2.min.js"></script>

</html>