<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${parking.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">停车场名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${parking.name}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">停车场地址：</label>
								<div class="col-sm-8">
									<input id="location" name="location" th:value="${parking.location}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">项目联系人：</label>
								<div class="col-sm-8">
									<input id="contacts" name="contacts" th:value="${parking.contacts}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input id="phone" name="phone" th:value="${parking.phone}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系邮箱：</label>
								<div class="col-sm-8">
									<input id="email" name="email" th:value="${parking.email}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">月租车重复出入场:</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input
											th:field="*{parking.rentStatic}" type="radio" name="rentStatic" value="0" />
										正常
									</label> <label class="radio-inline"> <input
										th:field="*{parking.rentStatic}" type="radio" name="rentStatic" value="1" />
									禁用
								</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">VIP车重复出入场:</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input
											th:field="*{parking.vipStatic}" type="radio" name="vipStatic" value="0" />
										正常
									</label> <label class="radio-inline"> <input
										th:field="*{parking.vipStatic}" type="radio" name="vipStatic" value="1" />
									禁用
								</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/sys/parking/edit.js">
	</script>
</body>
</html>
