<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/css/h5/mobile/common.css" />
    <style type="text/css">
        .bar{
            background: #eee;
            display: flex;
            justify-content: space-between;
            padding: 0 .4rem;
            height: 1.25rem;
            line-height: 1.25rem;
        }
        .bar a{color: #333;}
    </style>
</head>

<body>
    <div class="mui-content">
        <header class="bar">
            <div><a href="/mobile/login"><i class="iconfont icon-shouye"></i>首页</a></div>
            <div><a href="/mobile/setting"><i class="iconfont icon-shezhi"></i>设置</a></div>
        </header>
        <div class="mui-slider" style="margin: 4%; width: 92%; border-radius: 16px;">
            <div class="mui-slider-group mui-slider-loop">
                <!--支持循环，需要重复图片节点-->
                <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="/img/h5/mobile/banner01.jpg" /></a></div>
                <div class="mui-slider-item"><a href="#"><img src="/img/h5/mobile/banner01.jpg" /></a></div>
                <div class="mui-slider-item"><a href="#"><img src="/img/h5/mobile/banner02.jpg" /></a></div>
                <div class="mui-slider-item"><a href="#"><img src="/img/h5/mobile/banner03.jpg" /></a></div>
                <!--支持循环，需要重复图片节点-->
                <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="/img/h5/mobile/banner01.jpg" /></a></div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>

        <div class="grid dribbble" >
            <a class="mui-col-xs-4" id="longCar" ><i class="iconfont icon-yuezu"></i>月租车辆</a>
            <a class="mui-col-xs-4" id="businessCar" ><i class="iconfont icon-Vip"></i>商户车辆</a>
            <a class="mui-col-xs-4" id="timeCouponCar" ><i class="iconfont icon-Vip"></i>时长劵车辆</a>
            <a class="mui-col-xs-4" id="vipCar" ><i class="iconfont icon-shanghu"></i>VIP车辆</a>
            <a class="mui-col-xs-4" id="recharge"><i class="iconfont icon-Vip"></i>商户充值</a>
        </div>
<!--        <p class="list-bot">没有更多内容啦</p>-->
    </div>

</body>
<style>body,.mui-content{background: #fff;}</style>
<script src="/js/h5/mobile/common.js"></script>
<script src="/js/plugins/layer/layer.min.js" th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script>
    $(function () {
        displayHide("/mobile/car/long/authz", "#longCar");
        displayHide("/mobile/car/business/authz", "#businessCar");
        displayHide("/mobile/car/timeCoupon/authz", "#timeCouponCar");
        displayHide("/mobile/car/vip/authz", "#vipCar");
        displayHide("/mobile/recharge/authz", "#recharge");
        $("#longCar").click(function () {   window.location.replace("/mobile/car/long");}) ;
        $("#businessCar").click(function () {   window.location.replace("/mobile/car/business");}) ;
        $("#timeCouponCar").click(function () {   window.location.replace("/mobile/car/timeCoupon");}) ;
        $("#vipCar").click(function () {    window.location.replace("/mobile/car/vip");}) ;
        $("#recharge").click(function () {    window.location.replace("/mobile/recharge");}) ;
    });
    //权限校验，显示影藏
    function displayHide(url, elementId) {
        $.getJSON(url, function(data){
            if(data.code == 200 && data.msg == "SUCCESS") {
                $(elementId).show();
            }else {
                $(elementId).hide();
            }
        });
    }

  //首页轮播数据
    this.carousel = function () {
        var gallery = mui('.mui-slider');
        gallery.slider({interval:3000});
    }
</script>
</html>


