<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>商户车辆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/css/h5/mobile/common.css"/>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">商户车辆</h1>
    </header>
    <div class="mui-content">
         <div class="user bantop" style="background: linear-gradient(-320deg,#1296db 40%,rgba(18, 150, 219,0.6));border-bottom: 10px solid #2189bf;">
            <i class="iconfont icon-shanghu"></i>
            <h3>商户车辆</h3>
            <h5>MERCHANT MANAGEMENT</h5>
        </div>
        <ul class="mui-table-view longlist" id="listShanghu"></ul>
        <a href="/mobile/car/business/add" class="afix" id="consolt"><i class="iconfont icon-add"></i></a>
    </div>

     <!-- 自开发弹出层：选择内容过多，需要滚动 -->
    <div class="popup" id="popup">
        <div class="pop-container">
            <h3>删除</h3>
             <div class="popcont">
                 确定要删除吗？
             </div>
            <div class="popbtn">
                <a class="left cancel">取消</a>
                <a id="yes">确认</a>
            </div>
        </div>
    </div> 
</body>
<script src="/js/h5/mobile/common.js"></script>
<script>
  
    $.ajax({
        url: "/sys/car/business/list",
        dataType: "json",
        async: false,
        data: {
            limit: 10,
            offset: 0,
            sort: 'update_time',
            order: 'desc',
        },
        type: "GET",
        success: function(data) {
            var json = "";
            for (i in data.rows) {
                json += `
                    <li class="mui-table-view-cell">
                        <a href="/mobile/car/business/detail/${data.rows[i].id}">
                            <h3><span class="mui-ellipsis">车牌号：${data.rows[i].number}</span>
                `
                json +=`</h3>
                            <p><span>免费时长(分钟)：${data.rows[i].freeTime}分钟</span><span>费用：${data.rows[i].cost}</span></p>
                            <p>停车场：${data.rows[i].parkingName}</p>
                        </a>
                        <i class="iconfont icon-shanchu" id="delete" value=${data.rows[i].id}></i>
                    </li> 
                `
            }
            $("#listShanghu").html(json);  
        },        
    });
    $("#delete").click(function () { $("#popup").fadeIn(); $("body").css("overflow", "hidden"); });
    $("#yes").click(function () {
        $.post("/sys/car/business/remove",{id:$("#delete").attr("value")},function (data) {
            if(data.code == 0){
                window.location.reload();
            }else {
                layer.msg(data.msg);
            }
        },"json");
    });
</script>
</html>