<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>VIP管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../assets/css/common.css"/>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">VIP管理</h1>
    </header>
    <div class="mui-content">
         <div class="user bantop" style="background: linear-gradient(-320deg,#f3a425 40%,rgba(243, 164, 37,0.6));border-bottom:10px solid #f1980a;">
            <i class="iconfont icon-Vip"></i>
            <h3>VIP管理</h3>
            <h5>VIP MANAGEMENT</h5>
        </div>
        <ul class="mui-table-view longlist" id="longList"></ul>
        <a href="addVip.html" class="afix" id="consolt"><i class="iconfont icon-add"></i></a>
    </div>

     <!-- 自开发弹出层：选择内容过多，需要滚动 -->
    <div class="popup" id="popup">
        <div class="pop-container">
            <h3>删除</h3>
             <div class="popcont">
                 确定要删除吗？
             </div>
            <div class="popbtn">
                <a class="left cancel">取消</a>
                <a id="yes">确认</a>
            </div>
        </div>
    </div> 
</body>
<script src="../assets/js/common.js"></script>
<script>
  
    $.ajax({
        url: "http://list",
        dataType: "json",
        async: false,
        data: {},
        type: "GET",
        success: function(data) {
            var json = "";
            for (i in data.longList) {
                json += `
                    <li class="mui-table-view-cell">
                        <a href="detailVip.html">
                            <h3><span class="mui-ellipsis">车牌号：${data.longList[i].title}</span>
                `
                json +=`</h3>
                            <p>停车场：${data.longList[i].t3}</p>
                        </a>
                        <i class="iconfont icon-shanchu" id="delete"></i>
                    </li> 
                `
            }
            $("#longList").html(json);  
        },        
    });
    $("#delete").click(function () { $("#popup").fadeIn(); $("body").css("overflow", "hidden"); });
</script>
</html>