<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../assets/css/common.css?v1.0" />
</head>

<body>
    <header class="bar">
        <div><a href="/mobile/login"><i class="iconfont icon-shouye"></i>首页</a></div>
        <div><a href="/mobile/setting"><i class="iconfont icon-shezhi"></i>设置</a></div>
    </header>
    
    <div class="mui-content">
        <!-- 所有的状态页(包括空状态)都如下方所示布局 -->
        <div class="state">
            <i class="iconfont icon-chenggong"></i>
            <h3>提交成功</h3>
            <p>您的订单已提交</p>
            <a href="">返回首页</a>
            <a href="">再来一单</a>
        </div>
    </div>
</body>
<script src="../assets/js/common.js"></script>
</html>